@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color:rgb(106, 216, 252);
    color:brown;
    margin: 0;
    padding: 0;
}

h1, h2 {
  margin-bottom: 8px;
}

h1 {
    text-align: center;
}

p {
  margin: 12px 16px;
}

img {
  width: 260px;
  display: block;
  margin: 8x auto 0;
  border: 4px solid brown;
  border-radius: 12px;
}

button {
  background-color: burlywood;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  display: block;
  margin: 10px 16px 16px auto;
}